<a href="https://colab.research.google.com/github/ankitrai777/EDA-on-Play-Store-App-Review/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [27]:
#Importing important libraries for EDA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
# Mounting drive with colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
#Importing playstore data from drive
ps_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone Project : EDA on Play Store App Reviews/Play Store Data.csv')

#Importing User Reviews from drive
ur_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone Project : EDA on Play Store App Reviews/User Reviews.csv')

## **Data Exploration**

In [30]:
ps_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [31]:
ps_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [32]:
ps_df.shape

(10841, 13)

In [33]:
ps_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [34]:
ps_df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

# **Data Cleaning**

## **1) Checking for Duplicates**

In [35]:
# Checking for duplicate values
check_dupl = ps_df.duplicated(keep = False).any()
print(check_dupl)

True

In [36]:
# Checking again for the duplictes
ps_df.App.nunique() , ps_df.App.shape

(9660, (10841,))

In [37]:
# Displaying duplicte values
ps_df[ps_df.duplicated(keep = False ) == True].sort_values(by = 'App').head(6)

                             App            Category  ...  Current Ver   Android Ver
1393       10 Best Foods for You  HEALTH_AND_FITNESS  ...          1.9  2.3.3 and up
1407       10 Best Foods for You  HEALTH_AND_FITNESS  ...          1.9  2.3.3 and up
2543  1800 Contacts - Lens Store             MEDICAL  ...        7.4.1    5.0 and up
2322  1800 Contacts - Lens Store             MEDICAL  ...        7.4.1    5.0 and up
2256  2017 EMRA Antibiotic Guide             MEDICAL  ...        1.0.5  4.0.3 and up
2385  2017 EMRA Antibiotic Guide             MEDICAL  ...        1.0.5  4.0.3 and up

[6 rows x 13 columns]

In [38]:
ps_df[ps_df.duplicated(keep = 'first' ) == True].sort_values(by=['App']).head()

                               App  ...   Android Ver
1407         10 Best Foods for You  ...  2.3.3 and up
2543    1800 Contacts - Lens Store  ...    5.0 and up
2385    2017 EMRA Antibiotic Guide  ...  4.0.3 and up
1434  21-Day Meditation Experience  ...    4.1 and up
7035        420 BZ Budeze Delivery  ...    4.1 and up

[5 rows x 13 columns]

In [39]:
dub_indexes = ps_df.index[ps_df.duplicated(keep = 'first' ) == True]

In [40]:
len(dub_indexes)

483

In [41]:
ps_df = ps_df.drop(dub_indexes)

In [42]:
ps_df.shape

(10358, 13)

In [43]:
ps_df.nunique()

App               9660
Category            34
Rating              40
Reviews           6002
Size               462
Installs            22
Type                 3
Price               93
Content Rating       6
Genres             120
Last Updated      1378
Current Ver       2832
Android Ver         33
dtype: int64

## **Now that all duplicate values have been removed, we can proceed for further data cleaning by each column.**

## **1) APP Column**

In [44]:
# Checking for duplicates in the APP Column

ps_df[ps_df.duplicated(['App','Category'] , keep = 'first' )].sort_values(by= 'App').head()

                          App Category  ...  Current Ver   Android Ver
5415  365Scores - Live Scores   SPORTS  ...        5.5.9    4.1 and up
1970              8 Ball Pool     GAME  ...        4.0.0  4.0.3 and up
1755              8 Ball Pool     GAME  ...        4.0.0  4.0.3 and up
1844              8 Ball Pool     GAME  ...        4.0.0  4.0.3 and up
1871              8 Ball Pool     GAME  ...        4.0.0  4.0.3 and up

[5 rows x 13 columns]

In [45]:
# Droping duplicate App from the App column

dub_app_indexes = ps_df.index[ps_df.duplicated(['App','Category'], keep = 'first' )== True]
ps_df = ps_df.drop(dub_app_indexes)

In [46]:
#Checking if duplicate values (by App and Category) are dropped from App Column

ps_df['App'].shape

(9745,)

In [47]:
ps_df[ps_df.duplicated(['App'],keep = False)].sort_values(by = 'App').head()

                                        App  ...   Android Ver
3953                            8 Ball Pool  ...  4.0.3 and up
1675                            8 Ball Pool  ...  4.0.3 and up
920   A&E - Watch Full Episodes of TV Shows  ...    4.4 and up
4991  A&E - Watch Full Episodes of TV Shows  ...    4.4 and up
1843                          Angry Birds 2  ...    4.1 and up

[5 rows x 13 columns]

## **2) CATEGORY Column**

In [48]:
# Check for dtype and null values

ps_df.Category.isnull().sum() , ps_df.Category.dtype

(0, dtype('O'))

## **3) RATING Column**

In [49]:
#Checking null values in Rating column
ps_df['Rating'].isnull().sum()

1464

In [50]:
# Checking Outlier
ps_df[(ps_df['Rating']> 5)|(ps_df['Rating'] <= 0)]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [51]:
ps_df.drop([10472],inplace = True)

In [52]:
ps_df['Rating'] = ps_df['Rating'].fillna(ps_df.groupby('Category')['Rating'].transform('mean'))

In [53]:
ps_df['Rating'].isnull().sum()

0


## **5) REVIEWS Column**

In [54]:
#Checking dtype of Rveiew Column
ps_df['Reviews'].dtype

dtype('O')

In [55]:
# Check null values in Review Column
ps_df['Reviews'].isnull().sum()

0

In [56]:
ps_df['Reviews'] = ps_df['Reviews'].astype(int)

In [57]:
ps_df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [58]:
# Checking for dtype of Size Column
ps_df['Size'].dtype

dtype('O')

In [59]:
# Changing Object dtype to float
def appropriating_size(x):
  if x == 'Varies with device':
    y= np.nan
  elif 'M' in x:
    m1= x.replace('M','')
    m2= float(m1)
    y= m2 * 1000
  elif 'k' in x :
    k1= x.replace('k','')
    y=float(k1)
  return (y)

In [60]:
#Converting size in kb
ps_df['Size']=ps_df['Size'].apply(lambda a: appropriating_size(a))

In [61]:
ps_df['Size'].head()

0    19000.0
1    14000.0
2     8700.0
3    25000.0
4     2800.0
Name: Size, dtype: float64

In [62]:
ps_df.Size.isnull().sum()

1250

In [63]:
ps_df['Size'] = ps_df['Size'].fillna(ps_df.groupby('Category')['Size'].transform('mean'))

In [64]:
ps_df.Size.isnull().sum()

0

## **6) INSTALLS Column**

In [65]:
# Checking dtype and null values
ps_df['Installs'].dtype , ps_df['Installs'].isnull().sum()

(dtype('O'), 0)

In [66]:
#Checking unique values
ps_df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [67]:
#Changing values to int
def appropriating_installs(a):
  a1 = a.replace('+','')
  a2= a1.replace(',','')
  a3= int(a2)
  return a3

## **7) TYPE Column**

In [68]:
# Checking for dtype and null values of TYPE Column

ps_df['Type'].dtype  , ps_df['Type'].isnull().sum()

(dtype('O'), 1)

In [69]:
ps_df['Type'].unique()

array(['Free', 'Paid', nan], dtype=object)

In [70]:
ps_df['Type']= ps_df['Type'].fillna(ps_df['Type'].mode()[0])

In [71]:
ps_df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

## **8) PRICE Column**

In [72]:
# Checking dtype and null values in Price Column

ps_df['Price'].dtype  , ps_df[ 'Type'].isnull().sum()

(dtype('O'), 0)

In [73]:
ps_df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [74]:
def appropriating_price(b):
  b1 = b.replace('$','')
  b2 = float(b1)
  return b2

In [75]:
ps_df['Price']=ps_df['Price'].apply(lambda x : appropriating_price(x))

In [76]:
ps_df['Price'].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,   1.2 ,   1.04])

## **9) Content Rating COlumn**

In [77]:
#Checking for dtype and null values in Content Rating in Column
ps_df['Content Rating'].dtype , ps_df['Content Rating'].isnull().sum()

(dtype('O'), 0)

In [78]:
ps_df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)